@model ShopCartViewModel
<div class="container mt-5">
    @foreach (var el in Model.ShopCart.ListShopItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Автомобиль:</b> @el.Car.name <br/>
            <b>Цена:</b> @el.Car.price.ToString("c")
        </div>
    }
    <hr/>
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>